.seat-picker {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  animation: appear 0.5s 0.5s ease-in-out forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.seat-picker-vertical {
  flex-direction: column;
}
.seat-picker-horizontal {
  flex-direction: row;
}

.seat-picker-shuttle {
  position: relative;
}
.seat-picker-shuttle-overlay {
  position: absolute;
  top: 30px;
  left: 30px;
  max-width: calc(100% - 60px);
}
.seat-picker-shuttle-name {
  color: #1890ff;
}
.seat-picker-picking-form-scroll-wrapper {
  flex: 1;
  min-height: 70vh;
  max-height: 100%;
  overflow: auto;
}
.seat-picker-picking-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  padding: 30px 10px;
}
.seat-picker-seats-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  gap: 10px;
  max-height: 100px;
}
.seat-picker-seats-list-item {
  width: 50px;
}
.seat-picker-seats-list-item-owned {
  /* background-color: #95de64 !important;
  color: #092b00 !important;
  border-color: #389e0d !important; */
  color: #52c41a !important;
  border-color: #52c41a !important;
}
.seat-picker-seats-list-item-owned:hover {
  /* background-color: #52c41a !important;
  color: #d9f7be !important;
  font-weight: bold; */
  color: #237804 !important;
  border-color: #237804 !important;
}
.seat-picker-seats-list-item-owned.ant-btn-primary {
  background-color: #52c41a !important;
  color: #ffffff !important;
}
.seat-picker-seats-list-item-owned.ant-btn-primary:hover {
  background-color: #237804 !important;
}
.seat-picker-seats-confirmer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.seat-picker-seats-confirmer-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.seat-picker-seats-confirmer-select {
  flex: 1;
}
.passengers-data-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.passengers-data-form .ant-form-item-control-input-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.passengers-data-form .ant-form-item {
  margin: 0;
}
.passengers-data-form-item {
  width: 100%;
}
.passengers-data-form-item-input {
  width: 100%;
}
.passengers-form-footer .ant-form-item-control-input-content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.order-view {
  max-width: 600px;
}
.order-confirmer-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  overflow: hidden;
  position: relative;
}
